@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 50%;
  box-sizing: border-box; }
  @media (min-width: 37.5em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 56.25em) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 87.5em) {
    html {
      font-size: 68.75%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.8rem; }

main {
  overflow: hidden !important;
  z-index: -1; }

.hdg--primary,
.hdg--secondary {
  font-family: 500;
  color: #252b46;
  font-size: 3.5rem;
  line-height: 1.3; }

.hdg--secondary {
  font-size: 2.5rem; }

.prg {
  color: #9194a1;
  line-height: 1.5; }

.menu {
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.5s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: rgba(37, 43, 70, 0.9); }
  .menu__content {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0 3.2rem;
    height: 100%; }
  .menu__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem; }
  .menu__item {
    color: #9194a1;
    text-align: center;
    padding: 2rem 0; }
    .menu__item:first-child {
      border-top: 1px solid currentColor; }
    .menu__item:not(:last-child) {
      border-bottom: 1px solid currentColor; }
    .menu__item:last-child {
      padding: 2.5rem 0 2rem 0; }
      .menu__item:last-child a {
        padding: 1rem;
        display: block;
        border: 2px solid #fff;
        font-weight: 500;
        border-radius: 5px; }
  .menu__link:link, .menu__link:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 400; }
  .menu__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem; }
  .menu__icon {
    margin-bottom: 5rem;
    display: block;
    line-height: 0;
    width: 3rem; }

body.toggle {
  overflow: hidden; }
  body.toggle .menu {
    transform: translateX(0); }
  body.toggle .header__icon--open {
    display: none; }
  body.toggle .header__icon--close {
    display: block; }

.cta.invalid .cta__error {
  transform: translateX(0); }

.cta.invalid .cta__input-box {
  overflow: unset; }

.cta.invalid .cta__msg {
  opacity: 1;
  visibility: visible;
  margin-top: 0; }

.cta.invalid .cta__input {
  margin-bottom: 2rem; }

.cta {
  background-color: #5368df;
  padding: 0 3.2rem; }
  .cta__content {
    text-align: center;
    padding: 6rem 0 8rem 0;
    max-width: 60rem;
    margin: 0 auto; }
  .cta__subhdg {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 3px;
    margin-bottom: 3rem; }
  .cta__hdg {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 400;
    max-width: 45rem;
    line-height: 1.1;
    margin: 0 auto 4rem auto; }
  .cta__form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 45rem;
    margin: 0 auto; }
  .cta__input-box {
    position: relative;
    overflow: hidden; }
  .cta__input {
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.8rem;
    color: #252b46;
    display: block;
    padding: 1.4rem 4rem 1.4rem 2rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 2px solid transparent;
    position: relative;
    outline: none; }
    .cta__input::placeholder {
      font-size: 1.6rem;
      color: rgba(145, 148, 161, 0.6); }
  .cta__error {
    position: absolute;
    display: block;
    top: 1.4rem;
    right: 1.5rem;
    transition: all 0.3s;
    transform: translateY(-4rem); }
  .cta__msg {
    background-color: #fa5757;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: start;
    font-size: 1.4rem;
    padding: 0.5rem 1.5rem;
    width: 100%;
    color: #fff;
    font-style: italic;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: all 0.3s;
    margin-top: -2.5rem;
    opacity: 0;
    visibility: hidden; }
  .cta__contact {
    background: none;
    font-family: inherit;
    display: block;
    font-weight: inherit;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #fa5757;
    padding: 1.5rem 3.5rem;
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.8rem;
    transition: color 0.2s, background-color 0.2s;
    border: 1px solid transparent; }
    .cta__contact:hover {
      color: #fa5757;
      border: 1px solid currentColor;
      background-color: #fff; }
  @media (min-width: 50em) {
    .cta__form {
      flex-direction: row;
      align-items: flex-start;
      max-width: unset;
      margin: unset; }
    .cta__input {
      min-width: 38rem;
      width: unset; } }

.popup {
  background-color: #0e1e25;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999; }
  .popup__content {
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    position: absolute;
    transform: translate(0, -50%);
    text-align: center;
    padding: 0 3.2rem; }
  .popup__box {
    max-width: 60rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 4rem 3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; }
  .popup__hdg {
    color: #0e1e25;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem; }
  .popup__prg {
    line-height: 1.4;
    font-size: 1.8rem;
    margin-bottom: 3rem; }
  .popup__btn {
    background: none;
    font-family: inherit;
    display: block;
    font-weight: inherit;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    padding: 1.5rem 3.5rem;
    background-color: #007067;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s;
    border: 2px solid transparent; }
    .popup__btn:hover {
      color: #007067;
      background-color: #fff;
      border: 2px solid currentColor; }

#hd-con {
  display: block;
  justify-self: start !important; }

.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0.5rem 3.2rem rgba(0, 0, 0, 0.1);
  z-index: 999999999999999;
  height: 8rem;
  padding: 1.25rem 0; }

.header {
  display: grid;
  grid-template-columns: minmax(3.2rem, 1fr) minmax(min-content, 114rem) minmax(3.2rem, 1fr);
  z-index: 101;
  position: relative;
  padding: 3rem 0; }
  .header__content {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }
  .header__logo {
    display: block; }
  .header__btns {
    justify-self: end; }
  .header__icon {
    cursor: pointer;
    display: block; }
    .header__icon--close {
      display: none; }
  .header__list {
    justify-self: end;
    list-style: none;
    display: none;
    gap: 5rem; }
  .header__link:link, .header__link:visited {
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #252b46;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.2s; }
  .header__link:hover {
    color: #fa5757; }
  .header__link--login:link, .header__link--login:visited {
    color: #fff;
    padding: 1.25rem 4rem;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: #fa5757;
    transform: all 0.2s; }
  .header__link--login:hover {
    background-color: transparent;
    color: #fa5757;
    border: 1px solid #fa5757; }
  @media (min-width: 50em) {
    .header__btns {
      display: none; }
    .header__list {
      display: flex; } }

.hero {
  display: grid;
  grid-template-columns: minmax(3.2rem, 1fr) minmax(min-content, 114rem) minmax(3.2rem, 1fr);
  padding-top: 5rem;
  padding-bottom: 6rem; }
  .hero__content {
    grid-column: 2/3;
    display: grid;
    row-gap: 12rem;
    /*
    @include respond($phone) {
      max-width: 60rem;
      margin: 0 auto;
      // grid-template-columns: repeat(2, 1fr);
    }
    @include respond($phone-800) {
      max-width: none;
      margin: unset;
    }*/ }
  .hero__img-container {
    position: relative; }
    .hero__img-container::after {
      position: absolute;
      top: 20%;
      left: 0;
      content: "";
      display: block;
      background-color: #5368df;
      width: 100%;
      height: 90%;
      border-bottom-left-radius: 30%;
      z-index: -1;
      transform: translateX(10%); }
  .hero__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(1.1); }
  .hero__intro-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3rem; }
  .hero__prg {
    margin-bottom: 2rem; }
  .hero__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem; }
  .hero__btn {
    background: none;
    font-family: inherit;
    display: block;
    font-weight: inherit;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 1.7rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1.25rem 1.75rem;
    border-radius: 5px;
    transition: all 0.2s; }
    .hero__btn--blue {
      background-color: #5368df;
      color: #fff; }
      .hero__btn--blue:hover {
        color: #5368df;
        border: 1px solid currentColor;
        background-color: #fff; }
    .hero__btn--white {
      color: #252b46;
      background-color: #eee; }
      .hero__btn--white:hover {
        color: #252b46;
        border: 1px solid currentColor;
        background-color: #fff; }
    @media (max-width: 20.875em) {
      .hero__btn {
        font-size: 1.5rem; } }
  @media (min-width: 31.25em) {
    .hero__img-container::after {
      height: 85%; } }
  @media (min-width: 37.5em) {
    .hero__content {
      max-width: 60rem;
      margin: 0 auto; }
    .hero__img-container::after {
      width: 113%; } }
  @media (min-width: 43.75em) {
    .hero__img-container::after {
      height: 85%; } }
  @media (min-width: 50em) {
    .hero__content {
      grid-template-columns: repeat(2, 1fr);
      justify-content: space-between;
      column-gap: 4rem;
      align-items: start;
      max-width: none;
      margin: unset; }
    .hero__img {
      transform: scale(1.14); }
    .hero__img-container {
      grid-column: 2/3;
      grid-row: 1/2; }
      .hero__img-container::after {
        top: 25%;
        height: 85%;
        transform: translateX(30%);
        border-bottom-left-radius: 32%;
        width: 100%; }
    .hero__intro-container {
      grid-column: 1/2;
      grid-row: 1/2;
      text-align: start; }
    .hero__btns {
      justify-content: flex-start; }
    .hero__prg {
      margin-bottom: 0; } }
  @media (min-width: 62.5em) {
    .hero__hdg {
      font-size: 4.3rem; } }
  @media (min-width: 75em) {
    .hero__content {
      column-gap: 12rem;
      grid-template-columns: minmax(min-content, 48rem) 1fr; }
    .hero__intro-container {
      padding-top: 0.5rem; }
    .hero__img-container::after {
      width: 140%;
      transform: translateX(22%);
      height: 93%; } }
  @media (min-width: 93.75em) {
    .hero__img-container::after {
      display: none; } }

.feature {
  display: grid;
  grid-template-columns: minmax(3.2rem, 1fr) minmax(min-content, 114rem) minmax(3.2rem, 1fr); }
  .feature__content {
    text-align: center;
    grid-column: 2/3; }
  .feature__hdg {
    margin-bottom: 2.5rem; }
  .feature__prg {
    margin-bottom: 4rem;
    max-width: 54rem;
    margin: 0 auto 4rem auto; }
  .feature__tabs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem; }
  .feature__tabs-container {
    max-width: 50rem;
    margin: 0 auto; }
  .feature__tab {
    border-bottom: 1px solid #9194a1; }
    .feature__tab:first-child {
      border-top: 1px solid #9194a1; }
  .feature__tab-btn {
    background: none;
    font-family: inherit;
    display: block;
    font-weight: inherit;
    cursor: pointer;
    border: none;
    font-size: 2rem;
    display: inline-block;
    color: rgba(37, 43, 70, 0.7);
    padding: 2rem 0;
    font-weight: 500;
    border-bottom: 4px solid transparent;
    transition: all 0.2s; }
    .feature__tab-btn--active {
      color: #252b46;
      border-bottom: 4px solid #fa5757; }
  .feature__box {
    display: none;
    row-gap: 8rem; }
    .feature__box--active {
      display: grid; }
  .feature__img-container {
    position: relative; }
    .feature__img-container::after {
      position: absolute;
      top: 25%;
      left: 0;
      content: "";
      display: block;
      background-color: #5368df;
      width: 100%;
      height: 90%;
      border-bottom-right-radius: 30%;
      z-index: -1;
      transform: translateX(-15%); }
    .feature__img-container--extra::after {
      height: 85% !important; }
  .feature__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
  .feature__intro-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem; }
  .feature__intro-prg {
    max-width: 54rem;
    margin: 0 auto; }
  .feature__btn {
    background: none;
    font-family: inherit;
    display: block;
    font-weight: inherit;
    cursor: pointer;
    justify-self: flex-start;
    display: none;
    border: 1px solid transparent;
    background-color: #5368df;
    color: #fff;
    font-size: 1.7rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1rem 1.75rem;
    border-radius: 5px;
    transition: all 0.2s; }
    .feature__btn:hover {
      color: #5368df;
      border: 1px solid currentColor;
      background-color: #fff; }
  @media (min-width: 25em) {
    .feature__box {
      row-gap: 12rem; } }
  @media (min-width: 37.5em) {
    .feature__content {
      max-width: 60rem;
      margin: 0 auto; }
    .feature__img-container::after {
      width: 120%;
      transform: translateX(-30%); } }
  @media (min-width: 50em) {
    .feature {
      padding-top: 8rem; }
      .feature__content {
        max-width: none;
        margin: unset; }
      .feature__box {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        column-gap: 4rem;
        align-items: start; }
      .feature__img {
        transform: scale(1); }
      .feature__img-container {
        grid-column: 1/2;
        grid-row: 1/2; }
        .feature__img-container::after {
          top: 25%;
          height: 97%;
          transform: translateX(-15%);
          border-bottom-right-radius: 32%;
          width: 100%; }
      .feature__intro-container {
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: start;
        align-items: flex-start; }
      .feature__btn {
        display: block; }
      .feature__tabs-container {
        max-width: unset;
        margin: 0;
        display: inline-block; }
      .feature__tabs {
        border-bottom: 1px solid #9194a1;
        margin-bottom: 5rem;
        flex-direction: row;
        gap: 10rem;
        justify-content: center;
        position: relative; }
        .feature__tabs:after {
          content: "";
          position: absolute;
          width: 90%;
          height: 1px;
          left: 5%;
          right: 5%;
          bottom: 0;
          background-color: #9194a1;
          display: none; }
      .feature__tab {
        border-bottom: none; }
        .feature__tab:first-child {
          border-top: none; } }
  @media (min-width: 68.75em) {
    .feature__box {
      column-gap: 15rem;
      grid-template-columns: 1fr minmax(min-content, 48rem); } }
  @media (min-width: 75em) {
    .feature__box {
      grid-template-columns: 1fr minmax(min-content, 50rem); }
    .feature__intro-container {
      padding-top: 5.5rem; }
    .feature__img-container::after {
      width: 140%;
      transform: translateX(-40%); } }
  @media (min-width: 93.75em) {
    .feature__img-container::after {
      display: none; } }

.extension {
  display: grid;
  grid-template-columns: minmax(3.2rem, 1fr) minmax(min-content, 114rem) minmax(3.2rem, 1fr);
  padding-top: 8rem;
  padding-bottom: 10rem; }
  .extension__content {
    grid-column: 2/3;
    text-align: center; }
  .extension__hdg {
    margin-bottom: 2.5rem; }
  .extension__prg {
    max-width: 54rem;
    margin: 0 auto 4rem auto; }
  .extension__cards {
    display: flex;
    flex-direction: column;
    gap: 10rem; }
  .extension__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 2rem 3rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 5px;
    max-width: 30rem;
    margin: 0 auto; }
  .extension__card-img {
    display: block;
    margin-bottom: 4rem;
    width: 13rem; }
  .extension__card-hdg {
    margin-bottom: 1rem; }
  .extension__card-subhdg {
    font-size: 1.5rem;
    font-weight: 400;
    color: #9194a1;
    margin-bottom: 4.5rem; }
  .extension__card-dots {
    display: block;
    margin-bottom: 2.5rem;
    width: 100%; }
  .extension__card-btn {
    background: none;
    font-family: inherit;
    display: block;
    font-weight: inherit;
    cursor: pointer;
    border: none;
    border: 1px solid transparent;
    background-color: #5368df;
    color: #fff;
    font-size: 1.7rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1.25rem 1.75rem;
    border-radius: 5px;
    transition: all 0.2s; }
    .extension__card-btn:hover {
      color: #5368df;
      border: 1px solid currentColor;
      background-color: #fff; }
  @media (min-width: 50em) {
    .extension {
      padding-top: 13rem; }
      .extension__cards {
        justify-content: center; }
      .extension__card {
        margin: unset; } }
  @media (min-width: 50em) {
    .extension__cards {
      flex-direction: row;
      gap: 2rem;
      align-items: flex-start; }
    .extension__cards .extension__card:nth-child(2) {
      margin-top: 5rem; }
    .extension__cards .extension__card:last-child {
      margin-top: 10rem; } }
  @media (min-width: 62.5em) {
    .extension__cards {
      gap: 4rem; } }
  @media (min-width: 75em) {
    .extension__card-img {
      width: 11rem; } }

.active .questions__answer {
  padding: 4rem 0 2rem 0;
  opacity: 1;
  height: auto; }

.questions {
  display: grid;
  grid-template-columns: minmax(3.2rem, 1fr) minmax(min-content, 114rem) minmax(3.2rem, 1fr);
  padding-bottom: 10rem; }
  .questions__content {
    grid-column: 2/3;
    text-align: center; }
  .questions__hdg {
    margin-bottom: 2.5rem; }
  .questions__prg {
    margin-bottom: 5rem;
    max-width: 50rem;
    margin: 0 auto 5rem auto; }
  .questions__list {
    list-style: none;
    margin-bottom: 3rem;
    max-width: 50rem;
    margin: 0 auto 5rem auto; }
  .questions__item {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    padding: 2.5rem 0;
    border-bottom: 1px solid #9194a1;
    transition: height 0.9s; }
  .questions__question {
    background: none;
    font-family: inherit;
    display: block;
    font-weight: inherit;
    cursor: pointer;
    border: none;
    justify-self: start;
    color: #252b46;
    font-weight: 500;
    font-size: 1.4rem;
    cursor: unset; }
  .questions__arrow {
    display: block;
    cursor: pointer; }
    .questions__arrow[src="images/icon-arrowCp.svg"] {
      transform: rotate(180deg); }
  .questions__answer {
    text-align: start;
    grid-column: 1/-1;
    color: rgba(37, 43, 70, 0.9);
    line-height: 1.8;
    height: 0;
    transition: padding 0.3s, opacity 0.2s;
    overflow: hidden; }
  .questions__btn {
    background: none;
    font-family: inherit;
    display: block;
    font-weight: inherit;
    cursor: pointer;
    border: none;
    border: 1px solid transparent;
    background-color: #5368df;
    color: #fff;
    font-size: 1.7rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1.25rem 1.75rem;
    border-radius: 5px;
    transition: all 0.2s;
    display: inline-block; }
    .questions__btn:hover {
      color: #5368df;
      border: 1px solid currentColor;
      background-color: #fff; }
  @media (min-width: 23.4375em) {
    .questions__question {
      font-size: 1.6rem; } }
  @media (min-width: 31.25em) {
    .questions__question {
      font-size: 1.8rem; } }
  @media (min-width: 50em) {
    .questions__list {
      max-width: 60rem;
      margin: 0 auto 5rem auto; }
    .questions__arrow {
      margin-right: 1.5rem; }
    .questions__item:first-child {
      border-top: 1px solid #9194a1; } }

.active.questions__content {
  display: none !important; }

.footer {
  background-color: #252b46;
  display: grid;
  grid-template-columns: minmax(3.2rem, 1fr) minmax(min-content, 114rem) minmax(3.2rem, 1fr); }
  .footer__content {
    padding: 4rem 0;
    grid-column: 2/3;
    display: grid;
    row-gap: 6rem;
    justify-items: center; }
  .footer__logo-con {
    display: inline-block; }
  .footer__logo {
    display: block; }
  .footer__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
    gap: 3.5rem; }
  .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #eee;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase; }
  .footer__socials {
    display: flex;
    align-items: center;
    gap: 4rem; }
  .footer__social-con {
    display: block; }
  .footer__social {
    display: block; }
  @media (min-width: 50em) {
    .footer__content {
      grid-template-columns: repeat(2, min-content) 1fr;
      align-items: center; }
    .footer__list {
      flex-direction: row;
      margin-left: 9rem; }
    .footer__socials {
      justify-self: end; } }
